.button {
  border: 1px solid transparent;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  display: inline-block;
  font: var(--button-button);
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
  background-color: transparent;
  border-radius: 0.25rem;
  outline: none;
}

.button:active {
  transform: scale(0.9);
}

.button.is-primary {
  background-color: var(--blue10);
  color: var(--white);
}
.button.is-secondary {
  border: 1px solid var(--gray20);
}

.button.is-primary:hover,
.button.is-primary:focus {
  background-color: var(--blue30);
  outline: none;
}

.button:hover,
.button:focus,
.button.is-secondary:hover,
.button.is-secondary:focus,
.button.is-rounded:hover,
.button.is-rounded:focus,
.button.is-compact:hover,
.button.is-compact:focus {
  background-color: var(--gray10);
}

.button.is-rounded {
  border-radius: 1.25rem;
  color: var(--blue10);
}
.button.is-compact {
  border-radius: 50%;
  padding: 0.5rem;
}
.button.is-shadowed {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.button i {
  font-size: 1.5rem;
  color: var(--gray50);
}
.button i,
.button span {
  vertical-align: middle;
}
