.modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: none;
  max-inline-size: 28rem;
  inline-size: 100%;
  border-radius: 0.25rem;
  position: absolute;
  top: 200px;
  left: 200px;
  padding-inline: 3rem;
  padding-block: 1.5rem;
  margin: initial;
  /* lo mismo que 0 */
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
}
